
<%- include("partials/header") %>
<div class="container">
	<div class="row">
		<h1 style="text-align:center;">Welcome to TaxBlock</h1>
		<div style="width:30% ;margin : 0 auto;">
			<a class="btn btn-lg btn-warning" href="/newStock">Add new Stock Info +</a>
			<a class="btn btn-lg btn-success" href="/Buy">Buy +</a>
		</div>
	</div>
</div>
<%- include("partials/footer") %>